.custom-btn {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
  transform: translateY(-1px);
}

.button-group {
    margin-left: 25px;
}
.button-group .btn {
    margin-right: 5px;
    margin-bottom: 12px !important;
}

.upload-btn {
  background: #1044b4;
}

.upload-btn:hover {
  background: #1044b4;
}

.download-btn {
  background: #1044b4;
}

.download-btn:hover {
  background: #1044b4;
  
}


.fake-select {
  position: relative;
  display: block;
  width: 100%;
}

/* the text you always want to show */
.fake-select__text {
  display: block;
  padding: .375rem 0;
  /* match your form spacing */
  line-height: 1.5;
  font-size: 14pt;
  /* add borders if you want it to look like an input */
  /* border-bottom: 1px solid #e5e7eb; */
}

/* the real select, invisible but clickable */
.overlay-select {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #58717A;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.wrapper {
  margin: auto;
  max-width: 640px;
  padding-top: 60px;
  text-align: center;
}

.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
  /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 
              0 0 0 1px rgba(0, 0, 0, 0.1);*/
}

h1 {
  color: #130f40;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: -.5px;
  font-weight: 700;
  padding-bottom: 10px;
}

.upload-container {
  background-color: #f6f8f8;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

/* .border-container {
  border: 5px dashed rgba(198, 198, 198, 0.65);
  padding: 20px;
} */

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

#file-browser {
  text-decoration: none;
  color: rgb(22, 42, 255);
  border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

#file-browser:hover {
  color: rgb(0, 0, 255);
  border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
}

.icons {
  color: #95afc0;
  opacity: 0.55;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.output-title {
  color: #a3a6a8;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18pt !important;
}

.fa-upload{
  font-size: 24pt;
}

.upload-content{
  font-size: 16pt;
}

.gen-class{
  margin-top: 1rem;
  margin-bottom: 1rem;
}