.fake-select {
  position: relative;
  display: block;
  width: 100%;
}

/* the text you always want to show */
.fake-select__text {
  display: block;
  padding: .375rem 0;
  /* match your form spacing */
  line-height: 1.5;
  font-size: 14pt;
  /* add borders if you want it to look like an input */
  /* border-bottom: 1px solid #e5e7eb; */
}

/* the real select, invisible but clickable */
.overlay-select {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #58717A;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-btn {
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-btn:hover {
  transform: translateY(-1px);
}

/* .button-group {
    margin-left: 20px;
} */
.button-group .btn {
    margin-right: 5px;
    margin-bottom: 12px !important;
}

.upload-btn {
  background: #1044b4;
}

.upload-btn:hover {
  background: #1044b4;
}

.download-btn {
  background: #1044b4;
}

.download-btn:hover {
  background: #1044b4;
}

.upload-container {
  background-color: #f6f8f8;
  border-radius: 6px;
  padding: 10px;
  text-align: center;

}

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

.output-title {
  color: #a3a6a8;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18pt !important;
}

.fa-upload {
  font-size: 24pt;
}

.upload-content {
  font-size: 16pt;
}

.table-wrapper {
  overflow-x: auto;
  max-height: 70vh;
  overflow-y: auto;
  padding: 10px; /* space around table */
}

.data-table {
  width: 100%;
  border-collapse: separate;  /* allow spacing */
  border-spacing: 0 6px;      /* row spacing */
  font-size: 14px;
}

.data-table th,
.data-table td {
  padding: 10px 14px;         /* cell spacing */
}

.data-table th {
  background:#2B346B !important;
  font-weight: 600;
  text-align: left;
}

.data-table tr {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.table-class {
  font-weight: 600;
}
